/*.lps
/*.exe
/lib
/todo.txt
/SyncthingLazurite.res
/*.lrj
.index_hash.yaml
syncthing folder.lnk

/GPATH
/GRTAGS
/GTAGS
/.vscode/GTEMP.pas
/rest_api_doc/*
/doc_local/**
*.dbg
/other/*
*.png
*.png~
/images/*
.vscode/extensions.json
backup/**

/*.zip
SyncthingLazuriteConfig.ini
SyncthingLazuritePos.ini
